*{
        margin: 0;
        padding: 0;
        font-family: "popins", sans-serif;
        box-sizing: border-box;
}


.container{
   width: 80%;
   margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
}



.logo-text ul  {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 25px;
   

}

.logo-icon {
     gap: 20px;
   display: flex;  
   margin: 20px; 
}


.header{
    margin-top: 120px;
    margin-right: 157px;
    width: 100%;
    display: flex;
    justify-content: space-between;    
}


.img{
    width: 340px;
}

.img-logo{
        display: flex;
        justify-content: space-between;
}


.under-img{
    margin-top: 30px;
}

.button{
    padding-top: 3px;
    width: 161px;
    height: 53px;
    top: 327px;
    border-radius: 4px;
    gap: 10px;
    background-color: #EE4248;
    padding: 12px, 32px, 12px, 32px;
    color: white;
    color: #FFF;
   text-align: center;
   margin-top: 24px;
}

.pana{
    display: flex;
    justify-content: end;
    left: 562px;
   top: 59px;
}

section {
 background-color: none;
 margin-top: 162px;
}

.section{
    display: flex;
    gap: 140px;
}

.right{
    margin-top: 120px;
}

.right span {
    color: red;
}


.right p span{
    color: red;
}


.p{
    margin-top: 40px;
}

.p2{
    margin-top: 40px;
}


h1{
    display: flex;
    justify-content: center;
    margin-top: 11;
}


.aside_cards_card_h1 {
    color: red;
    display: flex;
}


.aside_cards_card_btn{
    width: Hug (119px);
    height: Hug (42px);
    top: 314px;
    left: 24px;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    gap: 10px;
    color: white;
    background-color: #EE4248;
    margin-top: 15px;
}



.aside_cards{
    display: flex;
    justify-content: space-between;
    width: 1126px;
    


}



.aside_cards{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.aside{
    margin-top: 159px;
}


.aside_cards_card_img{
    text-align: center;
}


.aside_cards_card_h1{
  display: flex;
  justify-content: start;
   margin-top: 15px;
}


.aside_cards_card_p{
    margin-top: 15px;
}

.aside_cards_card{
    margin-top: 15px;
}


.footer{
    display: flex;
    justify-content: start;
    gap: 105px;
    margin-top: 159px;

}


.foto1 h1{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    display: flex;
    justify-content: start;
    
  
}

.foto1  p {
   margin-top: 10px;
}


.foto2 p{
    margin-top: 10px;
}

.footer_1{ 
    margin-top: 48px;
    background-color: #EE4248;
    color: white;
    width: 1900px;
    text-align: center;
    width: 1440px;
height: 64px;
top: 2094px;
padding: 22px 0px 21px 0px;

}

@media only screen and (max-width:1440px) {
    .aside_cards{
        display: grid;
 
        grid-template-columns: repeat(2,1fr);
    }
}


@media only screen and (max-width:1280px) {
    .aside_cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
    .aside_cards_card_h1{
        display: flex;
        justify-content: center;
    }
     
    .h1{
        display: flex;
        justify-content: center;
    }   

.footer{
    display: block;
    display: flex;
    justify-content: center;
}


.section{
    background-color: none;
}
}



@media only screen and (max-width:1173px) {
     .section{
        
     }

     
     
}



.img_1_1{
    width: 30px;
    background:  #0082e6;
    align-items: center;
}


.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}
